{% extends 'base.html' %}

{% block title %}Avirbhav'22 - Annual fest of JKIAPT{% endblock title %}

{% block body %}
<section id="team" class="team" style="background-color:#31313166">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Feedback</h2>
        </header>
        <div class="container text-center">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScZ6eb1uQQqPBJXnNsT7l7AlHa5QQ1TIDaag7cTsjVrQ5XQbA/viewform?embedded=true"
                          width="640" height="817" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                  </div>
    </div>
</section>
{% endblock body %}