
{% extends 'base.html' %}

{% block title %}Thanks to our Seniors & Feedback{% endblock title %}

{% block body %}

    <main id="main">

        <section id="portfolio-details" class="portfolio-details">
            <header class="section-header mt-5">
                <h2>Thanks To All Seniors</h2>
            </header>

            <div class="container">



                <div class="row gy-4">
                    <div class="portfolio-description">
                        <p style="font-family: 'Stylish', sans-serif;">It is with the utmost pleasure that we extend our heartfelt gratitude to our distinguished seniors. They worked tirelessly to ensure our festi would be the most memorable one yet. It is our seniors who are to be credited for the organization, planning, and smooth execution of the events. They ensured that all students are motivated to participate in these events by making sure they are diverse enough. 
                            In order to carry on those traditions and values, we owe a special thanks to our seniors for setting such a stellar example for us.
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </section><!-- End Portfolio Details Section -->

        <section id="team" class="team" style="background-color: #31313166">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h2>Our Seniors</h2>
                </header>

                <div class="row gy-4">

                    <!-- Image Block Start -->
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Aleshya.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Aleshya Yadav</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                   <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Amisha.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Amisha Gangwar</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Anjali.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Anjali Patel</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Anuj.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Anuj Shrivas</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Arushi.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Arushi Agarwal</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Ayush.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Ayush Agarwal</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Ayushkumar.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Ayush kumar singh</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Girindra.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Girindra Ghanshyam Mishra</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Govind.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Govind Pathak</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/GovindYadav.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Govind Yadav</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Gulshan.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Gulshan</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Hrishabh.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Hrishabh Awadhiya</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Jalaj.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Jalaj Singh</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Lakhan.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Lakhan Lal</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Mayank.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Mayank Saxena</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Nitin.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Nitin Kumar Sutrakar</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Nitish.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Nitish Rana</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Rachakonda.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Rachakonda Pranay</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Raj.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Raj Kumar</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Shekhar.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Raj Shekhar Singh</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Ravi.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Ravi Kumar</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Rishabh.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Rishabh Singh</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Samen.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Samen Ganpati</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Sanyam.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Sanyam Gupta</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Satyendra.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Satyendra Singh</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Shataxi.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Shataxi Dubey</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Shiva.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Shiva Gupta</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Siddhant.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Siddhant Singh</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Tarun.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Tarun Gupta</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Tirupati.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Tirupati Raman Mishra</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Ujjwal.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Ujjwal Mishra</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/Yash.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Yash Gupta</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/YashKumar.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Yash Kumar Prajapati</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/YashTiwari.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Yash Tiwari</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
 

                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/aditya.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Aditya Siddeshawar</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                                       
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/akash.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Akash Nagar</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/akshat.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Akshat Kumar</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/aman.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Aman Verma</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                                       <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/amit.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Amit Kumar Yadav</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                                       <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/aniket.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Aniket Gautam</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                                       <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/anupam.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Anupam</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                                       <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/ashutosh.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Ashutosh Mishra</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                                       <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/cherapalli.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Cherapalli Harshvardhan</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                                       <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/deepak.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Deepak Kumar/h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                                       <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/ganga.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Ganga Sagar Tripathi</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                                       <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/hemant.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Hemant Kumar</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                                       <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/karimireddy.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Karmireddy Harinath Ready</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/manish.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Manish Rana</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/sajid.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Mohammed Sajid</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/goswami.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Navyendu Goswami</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/nikhil.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Nikhil Kamboj</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/pandey.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Prajwal Pandey</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/prince.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Prince Tiwari</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/ram.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Ram Lagan Safi</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/salman.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Salman Raeen</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/kumar.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Saripalli Susheel Kumar</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/shadman.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Shadman Aslam</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/shiv.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Shiv Kumar</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/jaiswal.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Shreyanshu Jaiswal</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/sai.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Sistu Shyam Sai</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="">
                            <div class="container text-center">
                                <img src="http://cdn.avirbhav.tech/vikesh.png" class="img-fluid" style="border-radius: 50%; width: 80%; height:80%;" alt="">
                            </div>
                            <div class="text-center mt-3">
                                <h4>Vikesh Kumar</h4>
                                <span>IV year</span>
                            </div>
                        </div>
                    </div>
                    <!-- Image Block End -->

                </div>

            </div>

        </section>




    </main><!-- End #main -->
    {% endblock body %}