{% extends 'base.html' %}

{% block title %}Avirbhav'22 - Annual fest of JKIAPT{% endblock title %}

{% block body %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container d-flex justify-content-center text-center">
      <div class=" col-lg-6">
        <h1 data-aos="fade-up" class="harry large">Avirbhav</h1>
        <h2 data-aos="fade-up" data-aos-delay="400" class="harry">The Fiesta for Renaissance
        </h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="d-flex justify-content-center text-center text-lg-start">
            <a href="/events"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>View Events</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    



    <!-- About Avirbhav -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>About JKIAPT</h2>
        </header>

        <div class="row align-items-center">
          <div class="col-lg-6 text-right" style="padding-left: 10%;">
            <img src="static/logo_jk.svg" class="img-fluid jk-logo" alt="JKIAPT">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0" style="font-size: 18px;">
            <p style="font-family: 'Stylish', sans-serif;">The J. K. Institute of Applied Physics and Technology is among the most prestigious education centres in the nation. The Department of Electronics and Communication, which is situated within the Muir College Campus (Science Faculty) of the University of Allahabad-is one of the four oldest universities in India. The foundation stone of the J.K. Institute was laid by Late Pt. Jawaharlal Nehru on January 14, 1949, and it was formally inaugurated by him on April 4 1956. J.K. charitable Trust's significant contribution to the building of the entire complex led to the identity it holds today. 
            </p>
            <p style="font-family: 'Stylish', sans-serif;">In addition to providing courses in Electronics & Communication, the Department also teaches Computer Science. The courses have been tailored to meet the demands of the modern nation. The Department also offers B.Sc (Computer Science), M.Sc (Computer Science), M.Tech (Electronic Engineering), and M.Tech (Computer Technology) and D.Phil programs.</p>
            <p style="font-family: 'Stylish', sans-serif;">With a history spanning nearly 60 years, many alumni of the Department are making significant contributions in India and abroad. They are usually found to be at high positions in their respective fields all around the globe.</p>
          </div>

        </div>

    </section><!-- End Features Section -->
    <section id="features" class="features">

        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h2>About Avirbhav</h2>
          </header>
  
          <div style="width: 75%; margin: 0 auto;" class="text-center">
            <img src="/static/avirbhav.png" class="img-fluid" alt="Avirbhav Compilation">
          </div>
  
  
          <div class="container mt-5">
            <div class="mt-5 mt-lg-0 justify-content-center" style="font-size: 18px;">
              <p class="text-center" style="font-family: 'Stylish', sans-serif;">
                  After spending two long years in the COVID lockdown, finally we are back in action with 'Avirbhav 2k22'. This year's theme breaks the traditional norm by centering around Harry Potter, mesmerizing all Potterheads. Events are well structured in a way to bring out the finest in all the students. The fest starts with a bang of online events and ends with a spectacular cultural clash between the four teams that are Ravenclaw, Gryffindor, Hufflepuff and Slytherin. 
  <p class="text-center" style="font-family: 'Stylish', sans-serif;">We are highly grateful to our seniors who are working tirelessly to make this event a memorable one.</p>
              </p>
            </div>
  
          </div>
  
      </section><!-- End Features Section -->


    <!-- ======= teams Section ======= -->
    <section id="teams" class="teams">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2 class="harry">Teams</h2>
        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-box gray">
              <div class="icon">
                <img src="static/slyth.jpg" class="icon-img">
              </div>
              <h3 class="harry large">Slytherin</h3>
              <p class="harry">Sagar Kashyap-Purnima kushwaha</p>
              <a href="#slytherin" class="read-more"><span>All Players</span></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-box gray">
              <div class="icon">
                <img src="static/raven.jpg" class="icon-img">
              </div>
              <h3 class="harry large">RavenClaw</h3>
              <p class="harry">Adarsh Saxena - Ikshita Pathak</p>
              <a href="#ravenclaw" class="read-more"><span>All Players</span></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-box gray">
              <div class="icon">
                <img src="static/huffle.jpg" class="icon-img">
              </div>
              <h3 class="harry large">HufflePuff</h3>
              <p class="harry">Anubhav Pal - Stuti Anand</p>
              <a href="#hufflepuff" class="read-more"><span>All Players</span> </i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="team-box gray">
              <div class="icon">
                <img src="static/gryfn.jpg" class="icon-img">
              </div>
              <h3 class="harry large">Gryffindor</h3>
              <p class="harry">Kausal Kishore -Tabitha Naik</p>
              <a href="#gryffindor" class="read-more"><span>All Players</span></a>
            </div>
          </div>
        </div>

      </div>

    </section><!-- End teams Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <header class="section-header">
        <h2>Live Score</h2>
      </header>

      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 text-center">
            <div class=" count-box">
              <h2 class=" harry large counter">Team Slytherin</h2>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{s}}" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Points</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="count-box">
              <h2 class="harry large counter">Team RavenClaw</h2>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{r}}" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Points</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="count-box">
              <h2 class="harry large counter">Team HufflePuff</h2>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{h}}" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Points</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="count-box">
              <h2 class="harry large counter">Team Gryffindor</h2>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{g}}" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Points</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->



    <!-- Players Section -->
    <section id="players" class="teams">

      <header class="section-header">
        <h2>Players</h2>
      </header>

      <div class="container" data-aos="fade-up">

        <div id="slytherin" class="row align-items-center d-flex justify-content-center text-center gy-4 ">
          <div class="col team-box" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <div class="container">
                <h3 class="harry large">Team Slytherin</h3>
                <h3 class="harry">Sagar Kashyap-Purnima kushwaha</h3>
              </div>

              <div class="row mt-5 player-box">
                <div class="col-lg-4 col-sm-4">Sagar</div>
                <div class="col-lg-4 col-sm-4">Purnima</div>
                <div class="col-lg-4 col-sm-4">Aman Singh</div>
                <div class="col-lg-4 col-sm-4">Abhishek Patel</div>
                <div class="col-lg-4 col-sm-4">Raghuvendra</div>
                <div class="col-lg-4 col-sm-4">Nipun Jain</div>
                <div class="col-lg-4 col-sm-4">Prem Narayan</div>
                <div class="col-lg-4 col-sm-4">Devnand Yadav</div>
                <div class="col-lg-4 col-sm-4">Abhay Patel</div>
                <div class="col-lg-4 col-sm-4">Amit Kumar</div>
                <div class="col-lg-4 col-sm-4">Dharani</div>
                <div class="col-lg-4 col-sm-4">Charan Kumar</div>
                <div class="col-lg-4 col-sm-4">Mayank Agrawal</div>
                <div class="col-lg-4 col-sm-4">MD Anas</div>
                <div class="col-lg-4 col-sm-4">Srijan</div>
                
                <div class="col-lg-4 col-sm-4">Shishir Rai</div>
                <div class="col-lg-4 col-sm-4">Y Geeta</div>
                <div class="col-lg-4 col-sm-4">Priyank Verma</div>
                <div class="col-lg-4 col-sm-4">Tanisha</div>
                <div class="col-lg-4 col-sm-4">Pranjal Kushwaha</div>
                <div class="col-lg-4 col-sm-4">Lokesh Kumar</div>
                <div class="col-lg-4 col-sm-4">Md Izhar</div>
                <div class="col-lg-4 col-sm-4">Kishan Singh</div>
                <div class="col-lg-4 col-sm-4">Rishabh Kumar</div>
                <div class="col-lg-4 col-sm-4">Imama Shehzad</div>
                <div class="col-lg-4 col-sm-4">Ashutosh Jaiswal</div>
                <div class="col-lg-4 col-sm-4">Shubhash Gupta</div>
                <div class="col-lg-4 col-sm-4">Ajay Kohli</div>
                <div class="col-lg-4 col-sm-4">NS Ravi Kiran</div>
                <div class="col-lg-4 col-sm-4">Anurag Kumar</div>
                <div class="col-lg-4 col-sm-4">Rohit Kumar Narah</div>
                <div class="col-lg-4 col-sm-4">Kushagra Dixit</div>
                <div class="col-lg-4 col-sm-4">Verma Abhishek R.</div>
                
                <div class="col-lg-4 col-sm-4">Priyanshi Sing</div>
                <div class="col-lg-4 col-sm-4">Bhavya Singh</div>
                <div class="col-lg-4 col-sm-4">Anushka Das</div>
                <div class="col-lg-4 col-sm-4">Abhinandan Ojha</div>
                <div class="col-lg-4 col-sm-4">Abhishek Sing</div>
                <div class="col-lg-4 col-sm-4">Rituraj Dubey</div>
                <div class="col-lg-4 col-sm-4">Prateek Tiwar</div>
                <div class="col-lg-4 col-sm-4">Uday Sai</div>
                <div class="col-lg-4 col-sm-4">Mohit Kumar</div>
                <div class="col-lg-4 col-sm-4">Harsh Yadav</div>
                <div class="col-lg-4 col-sm-4">Aryan Madhukar</div>
                <div class="col-lg-4 col-sm-4">Adesh Kumar</div>
                <div class="col-lg-4 col-sm-4">Akash Jaiswal</div>
                <div class="col-lg-4 col-sm-4">Rahuul Bhist</div>
                <div class="col-lg-4 col-sm-4">Abhay Pandey</div>
                <div class="col-lg-4 col-sm-4">Rahul Kumar</div>
                <div class="col-lg-4 col-sm-4">Deepak Kumar</div>
                <div class="col-lg-4 col-sm-4">Ashwinee Prajapati </div>
                
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="container" data-aos="fade-up">

        <div id="ravenclaw" class="row align-items-center d-flex justify-content-center text-center gy-4 ">
          <div class="col team-box" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <div class="container">
                <h3 class="harry large">Team RavenClaw</h3>
                <h3 class="harry">Adarsh Saxena - Ikshita Pathak</h3>
              </div>

              <div class="row mt-5 player-box-reverse">
                <div class="col-lg-4 col-sm-4">Adarsh Saxena</div>
                <div class="col-lg-4 col-sm-4">Ikshita Pathak</div>
                <div class="col-lg-4 col-sm-4">Raju Kumar</div>
                <div class="col-lg-4 col-sm-4">Pranav Mishra</div>
                <div class="col-lg-4 col-sm-4">Hare Krishna</div>
                <div class="col-lg-4 col-sm-4">Archit Yadav</div>
                <div class="col-lg-4 col-sm-4">Priyanshu</div>
                <div class="col-lg-4 col-sm-4">Sejal</div>
                <div class="col-lg-4 col-sm-4">Sachin</div>
                <div class="col-lg-4 col-sm-4">Shubham Ojha</div>
                <div class="col-lg-4 col-sm-4">Ganesh Prasad</div>
                <div class="col-lg-4 col-sm-4">Shaswat Saxena</div>
                <div class="col-lg-4 col-sm-4">Ankit</div>
                <div class="col-lg-4 col-sm-4">Ankit Sharma</div>
                <div class="col-lg-4 col-sm-4">Shobhit</div>
                
                <div class="col-lg-4 col-sm-4">Shivani</div>
                <div class="col-lg-4 col-sm-4">Nikhil Kumar</div>
                <div class="col-lg-4 col-sm-4">Shivam Tyagi</div>
                <div class="col-lg-4 col-sm-4">Avanish Maurya</div>
                <div class="col-lg-4 col-sm-4">Unmati Mishra</div>
                <div class="col-lg-4 col-sm-4">Ishan Pandey</div>
                <div class="col-lg-4 col-sm-4">Sagar</div>
                <div class="col-lg-4 col-sm-4">Deepak K.</div>
                <div class="col-lg-4 col-sm-4">Harshit Singh</div>
                <div class="col-lg-4 col-sm-4">Rajnikant</div>
                <div class="col-lg-4 col-sm-4">Aman Tyagi</div>
                <div class="col-lg-4 col-sm-4">Harikesh Kumar</div>
                <div class="col-lg-4 col-sm-4">Ashutosh Tiwari</div>
                <div class="col-lg-4 col-sm-4">Ankit Kumar</div>
                <div class="col-lg-4 col-sm-4">Mayank Mishra</div>
                <div class="col-lg-4 col-sm-4">Vipin Kumar</div>
                <div class="col-lg-4 col-sm-4">Ramji Kumar</div>
                <div class="col-lg-4 col-sm-4">Ashish Jha</div>
                
                <div class="col-lg-4 col-sm-4">Kritika Joshi</div>
                <div class="col-lg-4 col-sm-4">Palak Rao</div>
                <div class="col-lg-4 col-sm-4">Saumya</div>
                <div class="col-lg-4 col-sm-4">Praksh</div>
                <div class="col-lg-4 col-sm-4">Ayush Srivastava</div>
                <div class="col-lg-4 col-sm-4">M Siraj</div>
                <div class="col-lg-4 col-sm-4">Gaurav Singh</div>
                <div class="col-lg-4 col-sm-4">Om Prakash</div>
                <div class="col-lg-4 col-sm-4">Priyanshu Jaiswar</div>
                <div class="col-lg-4 col-sm-4">Aryan Raj</div>
                <div class="col-lg-4 col-sm-4">Abhishek Ranjan</div>
                <div class="col-lg-4 col-sm-4">Lal Moham Sahni</div>
                <div class="col-lg-4 col-sm-4">Gaurang Gupta</div>
                <div class="col-lg-4 col-sm-4">B.V.N Shrinivas</div>
                <div class="col-lg-4 col-sm-4">Sandeep Kumar</div>
                <div class="col-lg-4 col-sm-4">Aditya Raj</div>
                <div class="col-lg-4 col-sm-4">Moh. Arshad Raza</div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="container" data-aos="fade-up">

        <div id="hufflepuff" class="row align-items-center d-flex justify-content-center text-center gy-4 ">
          <div class="col team-box" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <div class="container">
                <h3 class="harry large">Team HufflePuff</h3>
                <h3 class="harry">Anubhav Pal - Stuti Anand</h3>
              </div>

              <div class="row mt-5 player-box">
                <div class="col-lg-4 col-sm-4">Anubhav</div>
                <div class="col-lg-4 col-sm-4">Stuti</div>
                <div class="col-lg-4 col-sm-4">Sachi</div>
                <div class="col-lg-4 col-sm-4">Himanshu</div>
                <div class="col-lg-4 col-sm-4">Prajjwal</div>
                <div class="col-lg-4 col-sm-4">Akhil Kumar</div>
                <div class="col-lg-4 col-sm-4">Pawan Raj</div>
                <div class="col-lg-4 col-sm-4">Asif Raza</div>
                <div class="col-lg-4 col-sm-4">Rexayala Yashwani</div>
                <div class="col-lg-4 col-sm-4">Rahul Kumar</div>
                <div class="col-lg-4 col-sm-4">Karmpreet</div>
                <div class="col-lg-4 col-sm-4">Kumar Manglam</div>
                <div class="col-lg-4 col-sm-4">Aryaurat</div>
                <div class="col-lg-4 col-sm-4">Prabash</div>
                <div class="col-lg-4 col-sm-4">Sanjeev Kumar</div>
                
                <div class="col-lg-4 col-sm-4">Saksham Pundir</div>
                <div class="col-lg-4 col-sm-4">B.Akhil</div>
                <div class="col-lg-4 col-sm-4">Pratik Singh</div>
                <div class="col-lg-4 col-sm-4">Divya Sharma</div>
                <div class="col-lg-4 col-sm-4">Sudhir Singh</div>
                <div class="col-lg-4 col-sm-4">Atil Kumar</div>
                <div class="col-lg-4 col-sm-4">M. Manoj Kumar</div>
                <div class="col-lg-4 col-sm-4">Shivraj</div>
                <div class="col-lg-4 col-sm-4">Biradar Yuvraj</div>
                <div class="col-lg-4 col-sm-4">Himanshu Meenal</div>
                <div class="col-lg-4 col-sm-4">Satyendra Gautam</div>
                <div class="col-lg-4 col-sm-4">Kadam Nikhil</div>
                <div class="col-lg-4 col-sm-4">Gyanesh Singh</div>
                <div class="col-lg-4 col-sm-4">Bhaskar</div>
                <div class="col-lg-4 col-sm-4">Yadala Naga Shiva</div>
                <div class="col-lg-4 col-sm-4">Shubham Kumar</div>
                <div class="col-lg-4 col-sm-4">Chandan Kesari</div>
                <div class="col-lg-4 col-sm-4">Shubh Naryan Mishra</div>
                
                <div class="col-lg-4 col-sm-4">Gungun Soni</div>
                <div class="col-lg-4 col-sm-4">Alisha K.</div>
                <div class="col-lg-4 col-sm-4">Harshita</div>
                <div class="col-lg-4 col-sm-4">Priyanshu Tiwari</div>
                <div class="col-lg-4 col-sm-4">Aman Kumar</div>
                <div class="col-lg-4 col-sm-4">Sudhanshu Gupta</div>
                <div class="col-lg-4 col-sm-4">Jagdeesh</div>
                <div class="col-lg-4 col-sm-4">Dwarika Kumar</div>
                <div class="col-lg-4 col-sm-4">Suraj Sharma</div>
                <div class="col-lg-4 col-sm-4">Vivek Yadav</div>
                <div class="col-lg-4 col-sm-4">Atul Kumar Mishra</div>
                <div class="col-lg-4 col-sm-4">Vishal Dagur</div>
                <div class="col-lg-4 col-sm-4">Dhruv Visariya</div>
                <div class="col-lg-4 col-sm-4">Md Saheeb</div>
                <div class="col-lg-4 col-sm-4">Himanshu Jain</div>
                <div class="col-lg-4 col-sm-4">Samagra Kumar T.</div>
                <div class="col-lg-4 col-sm-4">Gaurav Gupta</div>
                <div class="col-lg-4 col-sm-4">Lakhan Chauhan</div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="container" data-aos="fade-up">

        <div id="gryffindor" class="row align-items-center d-flex justify-content-center text-center gy-4 ">
          <div class="col team-box" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <div class="container">
                <h3 class="harry large">Team Gryffindor</h3>
                <h3 class="harry">Kausal Kishore -Tabitha Naik</h3>
              </div>

              <div class="row mt-5 player-box-reverse">
                <div class="col-lg-4 col-sm-4">Kaushal</div>
                <div class="col-lg-4 col-sm-4">Tabitha</div>
                <div class="col-lg-4 col-sm-4">Aman Binjula</div>
                <div class="col-lg-4 col-sm-4">Pratush Mishra</div>
                <div class="col-lg-4 col-sm-4">Pranav Kumar</div>
                <div class="col-lg-4 col-sm-4">Luv Kush</div>
                <div class="col-lg-4 col-sm-4">Abhishek Chaurasia</div>
                <div class="col-lg-4 col-sm-4">Indu</div>
                <div class="col-lg-4 col-sm-4">Rohit Azad</div>
                <div class="col-lg-4 col-sm-4">Abhishek Shukla</div>
                <div class="col-lg-4 col-sm-4">Shivendra</div>
                <div class="col-lg-4 col-sm-4">Gagan Kumar</div>
                <div class="col-lg-4 col-sm-4">Trayambak</div>
                <div class="col-lg-4 col-sm-4">Atul Kumar</div>
                <div class="col-lg-4 col-sm-4">Vishal Kumar</div>
                
                <div class="col-lg-4 col-sm-4">Abhay Saxena</div>
                <div class="col-lg-4 col-sm-4">Nitish Kumar</div>
                <div class="col-lg-4 col-sm-4">Aman K. Yadav</div>
                <div class="col-lg-4 col-sm-4">Anjali Bharti</div>
                <div class="col-lg-4 col-sm-4">Balmiki Kumar</div>
                <div class="col-lg-4 col-sm-4">Suraj Kumar</div>
                <div class="col-lg-4 col-sm-4">Gaurav K.Mishra</div>
                <div class="col-lg-4 col-sm-4">Nigam Tyagi</div>
                <div class="col-lg-4 col-sm-4">Abhishek Yadav</div>
                <div class="col-lg-4 col-sm-4">Shivam Yadav</div>
                <div class="col-lg-4 col-sm-4">Akhilesh Kumar</div>
                <div class="col-lg-4 col-sm-4">Sagar Biswas</div>
                <div class="col-lg-4 col-sm-4">Honey Singh</div>
                <div class="col-lg-4 col-sm-4">Anand Raj</div>
                <div class="col-lg-4 col-sm-4">Aditya Roshan</div>
                <div class="col-lg-4 col-sm-4">Hrithik Roshan</div>
                <div class="col-lg-4 col-sm-4">Avay Pawan</div>
                <div class="col-lg-4 col-sm-4">Rahul Srivastav</div>
                
                <div class="col-lg-4 col-sm-4">Shreya Bhist</div>
                <div class="col-lg-4 col-sm-4">Khushi Kesarr</div>
                <div class="col-lg-4 col-sm-4">Shaksh</div>
                <div class="col-lg-4 col-sm-4">Raunak Singh</div>
                <div class="col-lg-4 col-sm-4">Md. Shuaib Alam</div>
                <div class="col-lg-4 col-sm-4">Rajkumar Pal</div>
                <div class="col-lg-4 col-sm-4">Shivam</div>
                <div class="col-lg-4 col-sm-4">Ritwik Chippa</div>
                <div class="col-lg-4 col-sm-4">Parth Verma</div>
                <div class="col-lg-4 col-sm-4">Vikas Mishra</div>
                <div class="col-lg-4 col-sm-4">Abhay Raj Shukla</div>
                <div class="col-lg-4 col-sm-4">Shikhar Gupta</div>
                <div class="col-lg-4 col-sm-4">Kamlesh K. Paswan</div>
                <div class="col-lg-4 col-sm-4">Yarasani Sunil</div>
                <div class="col-lg-4 col-sm-4">Vikash Kumar</div>
                <div class="col-lg-4 col-sm-4">Arjeet Goswami</div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- Players Section End -->
    <!-- ======= Features Section ======= -->

  </main><!-- End #main -->
  {% endblock body %}
