{% extends 'base.html' %}

{% block title %}Avirbhav'22 - Annual fest of JKIAPT{% endblock title %}

{% block body %}
<main id="main">
    <section id="portfolio-details" class="portfolio-details mt-5">
        <header class="section-header mt-5" data-aos="fade-up">
            <h2>Sponsor Us</h2>
        </header>

        <div class=" container mt-5" data-aos="fade-up" data-aos-delay="200">



            <div class="row gy-4">
                <div class="portfolio-description">
                    <p style="font-family: 'Stylish', sans-serif; font-size: 18px">
                        We are pleased to announce that Avirbav, the biggest annual event of the University of
                        Allahabad, began on 16th April
                        2022. To captivate the Potterheads, this year's theme focuses on Harry Potter. It would really be appreciated if
                        you could help us out by
                        sponsoring us. Our festival averages somewhere between 6,000 and 7,000 attendees each year,
                        and this would be an ideal
                        time to gain brand recognition.
                        Our sponsorship rewards include a variety of perks in return for the sponsorship you choose.
                        We do hope you will take our request into consideration. We'll be highly obliged to
                        you for the favour.
                        Please feel free to contact us if you have any query.
                    </p>
                    <p style="font-family: 'Stylish', sans-serif; font-size: 18px">
                        <b>Adarsh Saxena</b><br>
                        <b>Contact: 9795653636</b>
                        <br>
                        <b>Email: adarshsaxena358@gmail.com</b>
                    </p>
                    <p>Perks of the sponsorship can be discussed over a call or email</p>
                </div>
            </div>
            <header class="section-header mt-5" data-aos="fade-up">
                <h2>Our Sponsors</h2>
            </header>
            <div class="row gy-4">
                <div class="portfolio-description text-center">
                    <p style="font-family: 'Stylish', sans-serif; font-size: 18px">
                        This section will contain the list of sponsors of the fest (will be updated soon).
                    </p>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
{% endblock body %}